
.navigation{
    background-color:whitesmoke;
    padding: 50px 0;
}
.neuron{
    font-size: 30px;
}
.navi{
    font-size: 20px;
}

.hero{
    background: url(images/home-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center; 
    text-align: center;
    padding: 250px 0;
    color: white;
}
.hero div button{
    background-color: white;
    color: black;
    border-radius: 50px;
    font-size: 18px;
    /* border:  2em; */
    border-color: white;
}
.hero div button:focus,
.hero div button:hover{
    background-color: transparent;
    border-color: white;
}

.article{
    padding: 40px 50px;
}
.content div img{
    image-orientation: initial;
    display: block;
    align-content: center;
}
.header{
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
    font-family:Georgia;
}
.article button{
    background-color: white;
    color: black;
    border-radius: 50px;
    font-size: 18px;
    /* border:  2em; */
    border-color: grey;
    color: grey;
}

.body_content{
    color: grey;
}

.footer{
    background-color: black;
    padding: 80px 80px 40px 80px;
    color:#777;
    font-family: 'Lora', serif;

    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
}
.footer div div i{
    color: whitesmoke;
}
.footer-icon{
    font-size: 50px;
    background-color: black;
    text-align: center;
    word-spacing: 5px;
    padding: 0px 0px 50px 0px;
}
.footer-icon a{
    color: #777;

}